
body{
    font-family: "Poppins", sans-serif;
    margin: 0%;
}
.namecolor{
    font-size: 50px;
    color: #EC4C7A;
}
p,h6{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 15px;
    height: 500px;
}
.half-width img{
    width: 100%;
}
#text-align{
    position: relative;
    top:120px;
    left:140px;
}
#text-align1{
    position: relative;
    top: 100px;
}
.introduction{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
    
}
.biography{
    background-image: url("image/biography-bg.png");
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#EC4C7A, #EC4C7A);
    padding: 10px 12px;
    font-weight: 500;
    color: white;
}
section{
    height: 500px;
    padding: 50px;
}
.recent img{
    width: 100%;
}
.recent{
    width: 20%;
    float: left;
    margin-left: 10%;
}
.latest h1{
    text-align: center;
}
.latest{
    background-image: url("image/latest-work-bg.png");
    background-repeat: no-repeat;
}
.client{
    background-image: url(image/footer-bg.png);
}
.client-say{
    margin-left: 30%;
    text-align: center;
    width: 40%;
}
.mail-box{
    height: 150px;
    width: 550px;
    background-color: #EC4C7A;
    border-radius: 6px;
    padding-top: 20px;
    color: white;
    text-align: center;
    position: relative;
    left: 350px;
}
.mail{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
footer{
    text-align: center;
    font-size: 12px;
    color: dimgray;
}

@media screen and (max-width: 600px)
{
    
        #text-align{
            position: relative;
            top:10px;
            left:40px;
            width: 50%;
      }
      .image1{
        position: relative;
        right: 10px;
        top: 70px;
      }
      #text-align1{
        position: relative;        
        top:0px;
        left: 60px;
        width: 50%;
    }
      .half-width{
        float: left;
        margin-left: 0%;
        padding-left: 0px;
       
      }
      section{
        height: 450px;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 0px;
      }
      .namecolor{
        font-size: 23px;
        color: #EC4C7A;
    }
    .half-width img{
        width: 140%;
    }
    .image2{
        position: relative;
        top: 70px;
        right: 30px;
    }
    .mail-box{
        height:70px;
        width: 300px;
        font-size: 13px;
        position: relative;
        top: 30px;
        left: 70px;
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .mail{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    .client-say{
        text-align: center;
        width: 80%;
        position: relative;
        right: 60px;
        
    }
    .latest{
        height: 300px;
    }
    footer{
        text-align: center;
        color: dimgray;
        font-size: 10px;
    }

}